.topscore {
    &__player {
        font-size: 20px;
        width: 120px;
        border-bottom: 1px solid lightgray;
        @media screen and (min-width: 750px) {
            font-size: 35px;
        }
    }
    &__team {
        font-size: 13px;
        width: 55px;
        border-bottom: 1px solid lightgray;
        @media screen and (min-width: 750px) {
            font-size: 30px;
        }
    }
    &__goals {
        font-weight: 800;
        border-bottom: 1px solid lightgray;
        width: 60px;
        @media screen and (min-width: 750px) {
            font-size: 20px;
        }
    }
}