.topscore {
    &__player {
        font-size: 16px;
        width: 90px;
        border-bottom: 1px solid lightgray;
    }
    &__team {
        font-size: 13px;
        width: 50px;
        border-bottom: 1px solid lightgray;
    }
    &__goals {
        font-weight: 800;
        border-bottom: 1px solid lightgray;
    }
}