.spinner {
    background: transparent;
    border-radius: 50%;
    border: 3px solid lightgray;
    width: 30px;
    height: 30px;
    border-top-color: rgb(1, 66, 104);
    animation: spinner 1s ease-in infinite;
    margin: 40px auto 20px auto;
    @keyframes spinner {
        to {
            transform: rotate(1turn);
        }
    }
}