.team {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 5px;
    border-radius: 12px;
    background: rgba(100, 98, 98, 0.377);
    border: 1px solid lightgray;
    text-align: center;
    &__name {
        margin: 0;
        font-weight: 600;
        font-style: italic;
        height: 55px;
        margin-top: 5px;
        font-size: 19px;
    }
    &__badge {
        width: 90px;
        height: 90px;
    }
    &-actions {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        &__action {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 5px 30px rgba(3, 3, 3, 0.938);
            margin: 0 10px;
            width: 30px;
            height: 30px;
            &:hover:before {
                left: 50px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -30px;
                width: 25px;
                height: 100%;
                background: rgb(211, 211, 211);
                transform: skewX(-30deg);
                transition: 0.7s;
            }
        }
    }
    &-content {
        position: absolute;
        right: 0;
        top: 0;
        display: grid;
        grid-template-rows: 1fr, 5%;
        background: rgb(100, 98, 98);
        z-index: 50;
        &-staff {
            display: flex;
            flex-flow: column nowrap;
            justify-items: center;
            padding: 15px;
            &__title {
                font-size: 30px;
                font-weight: 800;
                color: white;
                margin: 20px 0;
            }
        }
    }
}