.team {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 5px;
    border-radius: 8px;
    box-shadow: 0 5px 50px rgba(3, 3, 3, 0.795);
    border: 1px solid lightgray;
    text-align: center;
    justify-self: center;
    width: 60%;
    @media screen and (min-width: 450px) {
        width: 80%;
    }
    @media screen and (min-widt: 750px) {
        margin-bottom: 60px;
    }
    &__name {
        margin: 15px 0;
        font-style: italic;
        margin-top: 5px;
        font-size: 21px;
    }
    &__badge {
        width: 100px;
        height: 100px;
    }
    &-actions {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        &__action {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 5px 30px rgba(3, 3, 3, 0.938);
            margin: 0 10px;
            width: 30px;
            height: 30px;
            @media screen and (min-width: 750px) {
                width: 45px;
                height: 45px;
            }
            &:hover {
                transform: scale(0.9);
            }
            &:hover:before {
                left: 50px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -30px;
                width: 25px;
                height: 100%;
                background: rgb(211, 211, 211);
                transform: skewX(-30deg);
                transition: 0.7s;
            }
        }
    }
    &-content {
        position: absolute;
        display: flex;
        flex-flow: column wrap; 
        align-content: center;
        top: 0;
        right: 0;
        z-index: 8;
        width: 100%;
        background: white;
        &__close {
            font-size: 15px;
            color: lightgray;
            position: absolute;
            top: 5px;
            right: 5px;
            box-shadow: 0 5px 30px rgba(3, 3, 3, 0.938);
            border: none;
            border-radius: 50%;
            padding: 6px 9px;
            font-weight: bolder;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
        &__title {
            font-size: 30px;
            font-weight: 800;
            color: rgb(1, 66, 104);
            margin: 30px 0;
        }
        &__staff {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
}
