.team {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 5px;
    border-radius: 12px;
    background: rgba(97, 97, 97, 0.432);
    border: 1px solid lightgray;
    &__name {
        margin: 0;
        font-weight: 600;
        font-style: italic;
        height: 55px;
        margin-top: 5px;
        font-size: 19px;
    }
    &__badge {
        width: 90px;
        height: 90px;
    }
    &-actions {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        &__action {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 5px 30px rgba(3, 3, 3, 0.938);
            margin: 0 10px;
            width: 30px;
            height: 30px;
            &:hover:before {
                left: 50px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -25px;
                width: 15px;
                height: 100%;
                background: rgb(211, 211, 211);
                transform: skewX(-30deg);
                transition: 0.7s;
            }
        }
    }
}