.league {
    background: white;
    font-family: 'Abel', cursive;
    &-presentation {
        background: rgb(1, 66, 104);
        padding: 40px 15px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        &__name {
            color: white;
            margin-top: 0;
            margin-bottom: 50px;
            font-size: 30px;
            font-weight: 600;
            @media screen and (min-width: 750px) {
                margin-bottom: 70px;
            }
        }
        &__logo {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 120px;
            background: linear-gradient(180deg, white 0%, gray 50%, white 100%);
            margin-bottom: 40px;
            box-shadow: 0 5px 50px rgba(3, 3, 3, 0.795);
            @media screen and (min-width: 750px) {
                width: 180px;
                height: 145px;
            }
            & img {
                width: 120px;
                height: 120px;
                @media screen and (min-width: 750px) {
                    width: 160px;
                    height: 150px;    
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: -30px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 75px solid transparent;
                border-right: 75px solid transparent;
                border-bottom: 30px solid white;
                @media screen and (min-width: 750px) {
                    top: -50px;
                    border-bottom: 50px solid white;
                    border-left: 90px solid transparent;
                    border-right: 90px solid transparent;
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -30px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 75px solid transparent;
                border-right: 75px solid transparent;
                border-top: 30px solid white;
                @media screen and (min-width: 750px) {
                    bottom: -50px;
                    border-top: 50px solid white;
                    border-left: 90px solid transparent;
                    border-right: 90px solid transparent;
                }
            }
        }
        &__season {
            margin-top: 0;
            color: white;
            font-weight: lighter;
            @media screen and (min-width: 750px) {
                margin-top: 20px;
            }
        }
    }
    &-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;
    }
    &-content {
        display: flex; 
        flex-flow: column nowrap;
        margin: 15px 0;
        &__text {
            margin: 10px 0;
            font-weight: bolder;
        } 
    }
    
}