.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: rgb(1, 66, 104);
    &__toggle {
        position: fixed;
        z-index: 10;
        top: 169px;
        right: -5px;
        background: gray;
        border: none;
        cursor: pointer;
        outline: none;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 30px rgba(3, 3, 3, 0.938);
        margin: 0 10px;
        width: 40px;
        height: 40px;
        color: white;
        padding: 0;
        @media screen and (min-width: 750px) {
            width: 50px;
            height: 50px;
            top: 185px;
        }
        &:hover {
            transform: scale(0.9);
        }
        &:hover:before {
            left: 50px;
            @media screen and (min-width: 750px) {
                left: 70px;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -30px;
            width: 25px;
            height: 100%;
            background: rgb(211, 211, 211);
            transform: skewX(-30deg);
            transition: 0.7s;
        }
    }
    &__title {
        font-size: 30px;
        font-family: 'Federant', cursive;
        color:white;
        margin-right: 15px;
        font-style: italic;
    }
    &__icon {
        width: 30px;
        height: 30px;
    }
}