.country {
    background: transparent;
    border: none;
    outline: none;
    &__flag {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
        &:hover {
            transform: scale(0.9);
        }
    }
}